<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="container">
  <app-size-detector></app-size-detector>
</div>
<div class="container">
  <app-dropdown-menu-1></app-dropdown-menu-1>
</div>
<br>
<app-dropdown-multi-level></app-dropdown-multi-level>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
